PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/hms?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
HOSPITAL_NAME=Apollo Hospital
RAZORPAY_KEY_ID=rzp_test_xxxxxx
RAZORPAY_KEY_SECRET=your_razorpay_secret_here
